/*@charset "utf-8";
/* CSS Document */
html {
	overflow-y: hidden;
	overflow-x: hidden;
}
* {
	margin: 0px;
	padding: 0px;
}
.bodyBackground {
	background-color: antiquewhite;
}
.headerBackground {
	background-color: darkturquoise;
}
.headerFront {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.headerFront h1 {
	left: 43%;
	top: 5%;
	color: white;
	position: absolute;
}
