@charset "utf-8";
/* CSS Document */
.navbar {
	background-color: crimson;
	overflow: auto;
	overflow-x: hidden;
	width: 100%;
}
.navbar ul li{
	list-style-type: none;
}
.navbar a{
	color: white;
	text-decoration: none;
	font-size: 30px;
	padding: 15px;
	float: left;
	text-align: center;
	width: 23.21%;
}
.navbar a:hover {
	background-color: antiquewhite;
	color: black;
}
.active {
	background-color: darkturquoise;
	color: white;
}

